@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root  {
    --background: 134 100% 95%;
    --foreground: 134 5% 1%;
    --card: 134 50% 90%;
    --card-foreground: 134 5% 10%;
    --popover: 134 100% 95%;
    --popover-foreground: 134 100% 1%;
    --primary: 134 77% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 134 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 96 30% 85%;
    --muted-foreground: 134 5% 35%;
    --accent: 96 30% 80%;
    --accent-foreground: 134 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 134 5% 90%;
    --border: 134 30% 50%;
    --input: 134 30% 18%;
    --ring: 134 77% 63%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 134 50% 5%;
    --foreground: 134 5% 90%;
    --card: 134 50% 1%;
    --card-foreground: 134 5% 90%;
    --popover: 134 50% 5%;
    --popover-foreground: 134 5% 90%;
    --primary: 134 77% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 134 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 96 30% 15%;
    --muted-foreground: 134 5% 60%;
    --accent: 96 30% 15%;
    --accent-foreground: 134 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 134 5% 90%;
    --border: 134 30% 18%;
    --input: 134 30% 18%;
    --ring: 134 77% 63%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
